# This workflow will validate the OpenAPI specification and build SDKs based on the specification
# PRs cannot be merged if the specification is not compatible with SDK generator.
name: Validate specification and build SDKs
on:
  push:
    branches:
      - "main"
      - "staging"
  pull_request:
    branches:
      - "main"
      - "staging"
jobs:
  run-generator:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./sdk-generator
    steps:
      - name: Checkout main repository
        uses: actions/checkout@v3
      - name: Checkout sdk-generator
        uses: actions/checkout@v3
        with:
          repository: maxio-com/sdk-generator
          ref: refs/tags/v1.0.7
          path: sdk-generator
          token: ${{ secrets.SDK_GENERATOR_TOKEN }}
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Build SDKs
        shell: bash
        run: ./gradlew clean generateAll -PoverrideApiDocsRelativePath=..
